* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_container {
    height: 653px;
    width: 1360px;
    background-color: black;
    position: relative;
}

.container {
    height: 550px;
    width: 1120px;
    margin-left: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
    position: absolute;
    opacity: 0;
    transition: 0.7s linear;
    perspective: 1000px;
}

.main_container .container:hover {
    opacity: 1;
}

.container h1 {
    font-family: sans-serif;
    top: 50px;
    position: absolute;
    display: flex;
    box-shadow: 2px 3px 20px 0 black inset, 2px 3px 20px 0 #15f4ee, 1px 1px 200px 0 #15f4ee, 1px 1px 10px 0 #15f4ee;
    font-size: 5em;
    top: 25%;
    left: 39%;
    padding: -100px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transform: translateZ(0);
    background-color: white;

}
.container h1:hover{
    transform: rotateY(20deg) scale(5);
    transform: translateZ(50px);
}
.container h2{
    font-family: sans-serif;
    top: 50px;
    position: absolute;
    display: flex;
    box-shadow: 2px 3px 10px 0 black inset, 2px 3px 20px 0 black, 1px 1px 200px 0 #15f4ee, 1px 1px 10px 0 #15f4ee;
    font-size: 4em;
    top: 46%;
    left: 47%;
    cursor: pointer;
    background-color: white;
    transition: 0.6s linear;

}
.container h2:active{
    transform: rotateY(1deg) scale(3);
    transform: translateZ(30px);

}